.registerBtn{
    --background: #022534;
    --color: #fff;
    --box-shadow: none;
    --padding-top: 25px;
    --padding-bottom: 25px;
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-transform: none;
}

.my-custom-modal-css .modal-wrapper {
    height: 40%;
    top: 60%;
    position: absolute; 
    display: block;  
 }