ion-content{
    --color: #022534;
    --background: url('../../assets/login.jpg');
    font-family: Roboto, "Helvetica Neue", sans-serif !important;

}

.body{
    background-color: #fff;
    padding: 50px 30px;
    margin-top: 200px;
    height: 100%;
    border-radius: 80px 0 0 0;
}

.error-message{
    color: red;
    text-align: center;
}

.registerBtn{
    --background: #022534;
    --color: #fff;
    --box-shadow: none;
    --padding-top: 25px;
    --padding-bottom: 25px;
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-transform: none;
}

ion-label{
    --color: #022534;
    color: #022534;
}

a{
    color: #022534;
}