

<ion-content class="ion-padding">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Packages
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card id="basic">
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <h1>Basic</h1>
          <h2 slot="end">$50 <br><small>monthly</small></h2>
        </ion-item>
      </ion-list>
      <hr>
      <p><b>Plan includes:</b></p>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>
            <p>Lorem ipsum dolor sit amet</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>
            <p>Consectetur adipiscing elit</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>
            <p>Sed do eiusmod tempor</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-button expand="full"  routerLink="/payment" routerDirection="forward"hjhhjhjhjj class="addToCartBtn ion-activatable ripple-parent">Purchase</ion-button>
  </ion-card>

  <ion-card id="standard">
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <h1>Standard</h1>
          <h2 slot="end">$150 <br><small>monthly</small></h2>
        </ion-item>
      </ion-list>
      <hr>
      <p><b>All Basic plans plus:</b></p>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>
            <p>Duis aute irure dolor in</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>
            <p>Excepteur sint occaecat </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>
            <p>Sed ut perspiciatis unde</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-button expand="full" routerLink="/payment" routerDirection="forward" class="standardBtn ion-activatable ripple-parent">Purchase</ion-button>
  </ion-card>

  <ion-card id="premium">
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <h1>Premium</h1>
          <h2 slot="end">$250 <br><small>monthly</small></h2>
        </ion-item>
      </ion-list>
      <hr>
      <p><b>All Standard plans plus:</b></p>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>
            <p>Quis autem vel eum iure</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>
            <p>Nemo enim ipsam voluptatem </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>
            <p>Ut enim ad minima</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-button expand="full" routerLink="/payment" routerDirection="forward" class="premiumBtn ion-activatable ripple-parent">Purchase</ion-button>
  </ion-card>
</ion-content>
