ion-content{
    --background: #022534 !important;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

ion-title{
    color: #022534 !important;
}

img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    margin-top: 30px;
    border-radius: 30px;
}

h2{
    text-align: center;
    color: #fff;
}

.list{
    border-radius: 8px 8px 0 0;
    margin-top: 30px;
}

.subs{
    border-radius: 10px;
    background: rgba($color: #000000, $alpha: 0.2);
    margin-top: 20px;
    ion-item{
        --background: transparent;
        --color: #fff;

        .subs-type{
            color: grey;
        }
    }


}

.value{
    color: #022534;
    font-weight: bolder;
}

ion-grid{
    margin-top: 20px;
}

.my-custom-modal-css .modal-wrapper {
    height: 40%;
    top: 60%;
    position: absolute; 
    display: block;  
 }